<div class='row'>
  <div class='col-md-3 col-sm-0'></div>
  <div class='col-md-6 col-sm-12'>
    <div class="center jumbotron">
      <h3>Adrian Porębski (zaliczenie)</h3>

      <h4>Temat: Space Database</h4>

      <p>Space Database umożliwia dodawanie nowych systemów planetarnych do bazy danych. System może
        zawierać takie informacje jak nazwa, wiek, opis oraz poglądowe zdjęcie. Aby dodać bądź edytować wcześniej przez siebie dodany system, należy założyć konto. Dodanie systemu uprawnia
        do jego edycji bądź usunięcia.</p>

        <h5>Gemy:</h5>
        <ul>
          <li>carrierwave: gem pozwalając dodawać grafiki</li>
          <li>mini_magick: gem służący do skalowania obrazków</li>
          <li>md_simple_editor: edytor tekstowy pozwalający w bardziej zaawansowany sposób edytować opisy</li>
        </ul>
      </div>
    </div>
    <div class='col-md-3 col-sm-0'></div>
  </div>
