<div class='container'>
<h1> New planetary system </h1>

<%= render 'form' %>

<button type="button" class="new_system btn btn-primary">
  <%= link_to 'Back', planetary_systems_path %>
</button>
</div>
