<div class='container-fluid'>

  <div class='row'>
    <div class='col-md-1 col-sm-10'></div>
    <div class='col-md-5 col-sm-10'>
      <%= image_tag(@planetarySystem.image_url(:standard)) %>
    </div>
    <div class='col-md-5 col-sm-10'>
      <% if flash[:notice] %>
      <div class="alert alert-info">
        <strong>Info!</strong> <%= flash[:notice] %>
      </div>
      <% end %>
      <div class='page-header'>
        <h2><%= @planetarySystem.name %></h2>
        <small>
          Added by <%= @planetarySystem.user.email %>
          <%= time_ago_in_words(@planetarySystem.created_at) %> ago
        </small>
      </div>

      <h4>
        <strong>Age:</strong>
        <%= @planetarySystem.age %>
        <% if @planetarySystem.age > 1  %>
        mld years
        <% else %>
        mld year
        <% end %></p>
      </h4>
      <h4><strong>Description: </strong></h4>
      <p> <%= @planetarySystem.description %> </p>
      <div>
        <% if user_signed_in? %>
        <% if @planetarySystem.user.id == current_user.id %>
        <%= link_to 'Edit', edit_planetary_system_path(@planetarySystem), class: "btn btn-primary"  %>
        <%= link_to 'Destroy', planetary_system_path(@planetarySystem),
        method: :delete,
        data: { confirm: 'Are you sure?' }, class: "btn btn-primary"   %>
        <% end %>
        <% end %>
        <%= link_to 'Back', planetary_systems_path, class: "btn btn-primary" %>
      </div>
      <div class='col-md-1 col-sm-10'></div>
    </div>
  </div>
